.navbar{
    width: 100%;
    height: 50px;
    border: solid 1px;
    font-weight: 300;
    font-size: larger;
    background: #ddd;
}

.navbar select{
    width: 220px;
    font-size: medium;
}

.window{
    border: solid 1px;
}

.window .side{
	height: 50%;
}

.sidenavbar{
	height: 40px;
    padding: 8px;
    background: #ddd;
    font-weight: 700;
    font-size: 15px;
}

.control{
	height: 40px;
	padding: 5px;
	border-bottom: solid 1px;
	cursor: pointer;
}

.sidebtnctrl{
	float: right;
}

.sidebtns{
	display: inline-block;
    float: left;
    border: solid 1px;
    padding: 5px 9px;
    margin: -6px 1px;
    border-radius: 3px;
    cursor: pointer;
}

.sidebtns:hover{
	background: #aaa;
	color: white;
}

.sidebtns:active{
	background: black;
	color: white;
}

.sideworkspace{
	height: 250px;
    overflow-y: scroll; /*added 20-oct-2018 by pranay*/
}
.sideworkspace1{
    height: 250px;
    width: 200px;
    overflow-y: scroll; /*added 20-oct-2018 by pranay*/
    overflow-x: hidden; 
}
.topic_workspace{
    height: 550px;
    overflow-y: scroll;
}

.search{
    margin: 25px;
}
.topic_rotated_workspace{
    height: 200px;
    width: 555px;
    overflow-y: hidden;
    overflow-x: scroll; 
    background-color: #D3D3D3;
    padding-left: 8px;
    padding-right: 8px; 
}
.documentcanvas{
    height: 550px;
    overflow-y: scroll;
}

#sortcontrol{
    height: 70px;
    border-bottom: solid 1px;
    text-align: center;
    padding: 20px;
}

#selectioncontrol{
	height: 150px;
    border-bottom: solid 1px;
    overflow: scroll;
}

#selectedtopicslist{
    width: 95%;
    min-height: 70px;
    margin: 5px;
    background: black;
    color: white;
}

#selectionbuttonscontainer{
    width: 95%;
    min-height: 40px;
    border: 1px solid;
    margin: 5px;
    padding: 0px 6px;
}
.selbtns{
    padding: 7px 20px;
    width: 30px;
    float: left;
    cursor: pointer;
}
.selbtns:hover{
    background: black;
    color: white;
}
.matrixcanvas{
    overflow-y: scroll;
    overflow-x: scroll;
}
.Active {
    background-color: #f48f42;
}
.Highlight {
    background-color: #ffd54f;
}
.highlight {
    background-color: #ffc966;
}