.grow rect {
    stroke: black;
    shape-rendering: crispEdges;
    fill: none;
}


.axis text {
    font: 10px sans-serif;
}

.legend text {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
    display: none;
}


.y.axis path,
.y.axis line {
    display: none;
}

.topic_canvas div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}